services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE_PATH}/lidarr:/config
      - ${DATA_ROOT_PATH}:/data
      - ${DOWNLOADS_PATH}:/downloads
    ports:
      - ${LIDARR_PORT}:8686
    restart: unless-stopped
    profiles: ["extended", "full"]
