services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '${NPM_ADMIN_PORT}:81' # Admin Web Port
    environment:
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE_PATH}/nginx-proxy-manager/data:/data
      - ${CONFIG_BASE_PATH}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    profiles: ["full"]
