services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: homeassistant
    # network_mode: host # Recommended for discovery, but breaks container linking by name
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE_PATH}/homeassistant:/config
    ports:
      - ${HA_PORT}:8123
    devices:
      - ${HA_ZIGBEE_DEVICE}:${HA_ZIGBEE_DEVICE}
    restart: unless-stopped
    profiles: ["full"]
