services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_BASE_PATH}/sonarr:/config
      - ${DATA_ROOT_PATH}:/data
    ports:
      - ${SONARR_PORT}:8989
    restart: unless-stopped
    profiles: ["minimal", "extended", "full"]
